.wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.b-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anchor {
    color: #4285F4;
    text-decoration: none;
}

.danger {
    color: #DB4437;
}

.light-pagination-nav {
    margin-top: 20px;
}