nav {
    background-color: #fff;
}

.b-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #4285F4 !important;
    text-decoration: none;
}

.btn,
.btn:hover {
    background-color: #4285F4;
}

.anchor {
    color: #4285F4;
}

.wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.danger {
    color: #DB4437;
}

.light-pagination-nav {
    margin-top: 20px;
}

html {
    font-family: 'Roboto', sans-serif !important;
}

a.brand-logo,
nav ul a {
    color: #0f9d58 !important;
}

.green {
    color: #0f9d58 !important;
    background-color: white !important;
}

.blue {
    color: #4285F4 !important;
    background-color: white !important;
}

.card .card-content, .card .card-action {
    padding: 10px !important;
}